  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Related Articles</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Inkscape for Daily Alumni Organizations.</p>
      <ul class="widget-list">
        <li><a href="{{ "/design/2015/06/06/inkscape-non-standard-makara/" | relURL }}"
              >Inkscape: Non Standard Alumni Logo</a></li>
        <li><a href="{{ "/design/2015/07/07/inkscape-event-schedule/" | relURL }}"
              >Inkscape: Event Schedule Announcement</a></li>
        <li><a href="{{ "/design/2015/08/08/inkscape-event-banners/" | relURL }}"
              >Inkscape: Event Banner Collection</a></li>
        <li><a href="{{ "/design/2015/08/17/inkscape-invitation-stock/" | relURL }}"
              >Inkscape: Event Invitation Stock Image</a></li>
        <li><a href="{{ "/design/2015/09/03/inkscape-stamp-logo/" | relURL }}"
              >Inkscape: Logo with Stamp Ornament</a></li>
        <li><a href="{{ "/design/2015/09/11/inkscape-stamp-poster-flyer/" | relURL }}"
              >Multipurpose Design Based on Stamp Ornament Box</a></li>
        <li><a href="{{ "/design/2015/10/10/inkscape-object-clip/" | relURL }}"
              >Inkscape: Object Clip</a></li>
        <li><a href="{{ "/design/2015/10/20/inkscape-discussion-flyer/" | relURL }}"
              >Inkscape: Another Discussion e-Flyer</a></li>
        <li><a href="{{ "/design/2015/11/11/inkscape-isometric-infographics/" | relURL }}"
              >Inkscape: Isometric Infographics</a></li>
        <li><a href="{{ "/design/2016/02/23/inkscape-anti-corruption-movement/" | relURL }}"
              >Inkscape: Anti Corruption Movement</a></li>
        <li><a href="{{ "/design/2016/11/01/inkscape-text-feature/" | relURL }}"
              >Inkscape: Text Feature</a></li>
      </ul>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Inkscape: <a href="https://t.me/gimpscape">GimpScape Indonesia</a></li>
      </ul>
    </div>
  </div>
