  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>This article series contain few sections.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/03/01/bulma-overview/" | relURL }}"
              >Bulma - Overview</a></li>
        <li><a href="{{ "/frontend/2019/03/02/bulma-minimal/" | relURL }}"
              >Bulma - Minimal</a></li>
        <li><a href="{{ "/frontend/2019/03/03/bulma-navbar/" | relURL }}"
              >Bulma - Navigation Bar</a></li>
        <li><a href="{{ "/frontend/2019/03/04/bulma-sass-intro/" | relURL }}"
              >Bulma SASS - Introduction</a></li>
        <li><a href="{{ "/frontend/2019/03/05/bulma-sass-theme/" | relURL }}"
              >Bulma SASS - Inside a Theme</a></li>
        <li><a href="{{ "/frontend/2019/03/06/bulma-sass-custom/" | relURL }}"
              >Bulma SASS - Custom Class</a></li>
        <li><a href="{{ "/frontend/2019/03/07/bulma-sass-layout/" | relURL }}"
              >Bulma SASS - Responsive Layout</a></li>
        <li><a href="{{ "/frontend/2019/03/08/bulma-sass-panels/" | relURL }}"
              >Bulma SASS - Panels</a></li>
        <li><a href="{{ "/frontend/2019/03/09/bulma-sass-post/" | relURL }}"
              >Bulma SASS - Blog Post</a></li>
        <li><a href="{{ "/frontend/2019/03/10/bulma-sass-helpers/" | relURL }}"
              >Bulma SASS - Helpers</a></li>
      </ul>

      <p>Supplementary Article for Sass.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/02/15/concept-css/" | relURL }}"
              >Presentation - Concept CSS</a></li>
        <li><a href="{{ "/frontend/2019/01/23/windows-choco-sass/" | relURL }}"
              >Windows - Chocolatey - Sass</a></li>
        <li><a href="{{ "/frontend/2019/01/13/sass-common-compiler/" | relURL }}"
              >Sass - Common Implementation</a></li>
      </ul>

      <p>Download Tutorial Source.</p>
      <ul class="widget-list">
        <li><a href="https://gitlab.com/epsi-rns/tutor-html-bulma/blob/master"
              >Gitlab - Epsi RNS - Tutor HTML Bulma</a></li>
      </ul>

    </div>
  </div>
