  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>HTML Basic Related Articles.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2020/04/01/html-overview/" | relURL }}"
              >HTML - Overview</a></li>
        <li><a href="{{ "/frontend/2020/04/02/html-stylesheet/" | relURL }}"
              >HTML - Stylesheet</a></li>
        <li><a href="{{ "/frontend/2020/04/03/html-javascript/" | relURL }}"
              >HTML - Unobtrusive Javascript</a></li>
        <li><a href="{{ "/frontend/2020/04/05/html-developing-tips/" | relURL }}"
              >HTML - Developing Tips</a></li>
        <li><a href="{{ "/frontend/2020/04/06/html-inspect-element/" | relURL }}"
              >HTML - Inspect Element</a></li>

        <li><a href="{{ "/frontend/2020/04/07/tools-html-pug/" | relURL }}"
              >Tools - HTML - Pug</a></li>
        <li><a href="{{ "/frontend/2020/04/08/tools-css-stylus/" | relURL }}"
              >Tools - CSS - Stylus</a></li>
        <li><a href="{{ "/frontend/2020/04/09/tools-javascript-coffeescript/" | relURL }}"
              >Tools - Javascript - Coffescript</a></li>
        <li><a href="{{ "/frontend/2020/04/11/tools-task-runner-grunt/" | relURL }}"
              >Task Runner - Grunt</a></li>

        <li><a href="{{ "/frontend/2020/04/13/tools-bundler-webpack-01/" | relURL }}"
              >Bundler - Webpack - Part One</a></li>
        <li><a href="{{ "/frontend/2020/04/14/tools-bundler-webpack-02/" | relURL }}"
              >Bundler - Webpack - Part Two</a></li>
        <li><a href="{{ "/frontend/2020/04/15/tools-bundler-webpack-03/" | relURL }}"
              >Bundler - Webpack - Part Three</a></li>
        <li><a href="{{ "/frontend/2020/04/17/tools-bundler-rollup-01/" | relURL }}"
              >Bundler - Rollup - Part One</a></li>
        <li><a href="{{ "/frontend/2020/04/18/tools-bundler-rollup-02/" | relURL }}"
              >Bundler - Rollup - Part Two</a></li>
        <li><a href="{{ "/frontend/2020/04/19/tools-bundler-parcel/" | relURL }}"
              >Bundler - Parcel</a></li>
      </ul>

    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Javascript: <a href="https://t.me/js_id">JavaScript Indonesia</a></li>        
        <li>HTML and CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
