  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>These are Tax Rate in Haskell related articles.</p>

      <a href="{{ "code/2019/09/01/progressive-tax-tariff-01/" | relURL }}"
        >Haskell - Tax Tariff - Part One</a>
        <br/>

      <a href="{{ "code/2019/09/02/progressive-tax-tariff-02/" | relURL }}"
        >Haskell - Tax Tariff - Part Two</a>
        <br/>

      <a href="{{ "code/2019/09/03/progressive-tax-tariff-03/" | relURL }}"
        >Haskell - Tax Tariff - Part Three</a>
        <br/>

      <a href="{{ "code/2019/09/04/progressive-tax-tariff-04/" | relURL }}"
        >Haskell - Tax Tariff - Part Four</a>
        <br/>

    </div>
  </div>
