  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>CSS Tools Articles.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/06/21/sass-loop-spacing-class/" | relURL }}"
              >Sass - Loop - Spacing Class</a></li>
        <li><a href="{{ "/frontend/2019/10/03/less-loop-spacing-class/" | relURL }}"
              >Less - Loop - Spacing Class</a></li>
        <li><a href="{{ "/frontend/2019/10/04/less-conditional-color-class/" | relURL }}"
              >Less - Conditional - Color Class</a></li>
        <li><a href="{{ "/frontend/2019/10/10/postcss-configuration/" | relURL }}"
              >PostCSS - Configuration</a></li>
        <li><a href="{{ "/frontend/2019/10/11/postcss-loop-spacing-class/" | relURL }}"
              >PostCSS - Loop - Spacing Class</a></li>
        <li><a href="{{ "/frontend/2019/10/12/postcss-loop-sugarss/" | relURL }}"
              >PostCSS - Loop - SugarSS</a></li>
      </ul>

    </div>
  </div>


  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>CSS Tools: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
