  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>HTML Basic Related Articles.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2020/04/02/html-stylesheet/" | relURL }}"
              >HTML - Stylesheet</a></li>
        <li><a href="{{ "/frontend/2020/04/03/html-javascript/" | relURL }}"
              >HTML - Unobtrusive Javascript</a></li>
        <li><a href="{{ "/frontend/2020/04/05/html-developing-tips/" | relURL }}"
              >HTML - Developing Tips</a></li>
        <li><a href="{{ "/frontend/2020/04/06/html-inspect-element/" | relURL }}"
              >HTML - Inspect Element</a></li>
        <li><a href="{{ "/frontend/2020/04/07/tools-html-pug/" | relURL }}"
              >Tools - HTML - Pug</a></li>
        <li><a href="{{ "/frontend/2020/04/08/tools-css-stylus/" | relURL }}"
              >Tools - CSS - Stylus</a></li>
        <li><a href="{{ "/frontend/2020/04/09/tools-javascript-coffeescript/" | relURL }}"
              >Tools - Javascript - Coffescript</a></li>
        <li><a href="{{ "/frontend/2020/04/10/tools-task-grunt/" | relURL }}"
              >Tools - Task Runner - Grunt</a></li>
        <li><a href="{{ "/frontend/2020/04/12/html-webpack/" | relURL }}"
              >HTML - Webpack</a></li>
      </ul>

    </div>
  </div>
