  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>This is a multiple-parts article. There are few sections here.</p>

      <a href="{{ "/code/2018/01/20/telegram-bot-overview/" | relURL }}"
        >Overview</a>
        <br/>

      <a href="{{ "/code/2018/01/21/telegram-bot-token/" | relURL }}"
        >Getting Token</a>
        <br/>

      <a href="{{ "/code/2018/01/22/telegram-bot-loop-bash-01/" | relURL }}"
        >BASH CLI</a>
        <br/>

      <a href="{{ "/code/2018/01/23/telegram-bot-loop-bash-02/" | relURL }}"
        >BASH Script</a>
        <br/>

      <a href="{{ "/code/2018/01/24/telegram-bot-loop-bash-03/" | relURL }}"
        >BASH Option Argument</a>
        <br/>

      <a href="{{ "/code/2018/01/26/telegram-bot-loop-bash-04/" | relURL }}"
        >BASH Group Tools</a>
        <br/>

      <a href="{{ "/code/2018/01/28/telegram-bot-loop-makefile/" | relURL }}"
        >Makefile</a>
        <br/>

      <a href="{{ "/code/2018/01/29/telegram-bot-loop-manual/" | relURL }}"
        >Manual Page</a>
        <br/>

    </div>
  </div>
