  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>CI/CD for SSG Articles.</p>
      <ul class="widget-list">
        <li><a href="{{ "/devops/2020/02/10/ci-cd-overview/" | relURL }}"
              >CI/CD - Deploy Overview</a></li>
        <li><a href="{{ "/devops/2020/02/12/ci-cd-git-refs/" | relURL }}"
              >CI/CD - Manual Git Refs</a></li>
        <li><a href="{{ "/devops/2020/02/13/ci-cd-zeit-now/" | relURL }}"
              >CI/CD - Zeit Now</a></li>
        <li><a href="{{ "/devops/2020/02/14/ci-cd-git-worktree-01/" | relURL }}"
              >CI/CD - Manual Git Worktree - Part One</a></li>
        <li><a href="{{ "/devops/2020/02/14/ci-cd-git-worktree-02/" | relURL }}"
              >CI/CD - Manual Git Worktree - Part Two</a></li>
        <li><a href="{{ "/devops/2020/02/15/ci-cd-travis-01/" | relURL }}"
              >CI/CD - Travis - Part One</a></li>
        <li><a href="{{ "/devops/2020/02/15/ci-cd-travis-02/" | relURL }}"
              >CI/CD - Travis - Part Two</a></li>
        <li><a href="{{ "/devops/2020/02/16/ci-cd-circleci-01/" | relURL }}"
              >CI/CD - CircleCI - Part One (github)</a></li>
        <li><a href="{{ "/devops/2020/02/16/ci-cd-circleci-02/" | relURL }}"
              >CI/CD - CircleCI - Part Two (github)</a></li>
        <li><a href="{{ "/devops/2020/02/17/ci-cd-circleci-03/" | relURL }}"
              >CI/CD - CircleCI - Part Three (bitbucket)</a></li>
        <li><a href="{{ "/devops/2020/02/18/ci-cd-github-workflows/" | relURL }}"
              >CI/CD - Github Workflows</a></li>
        <li><a href="{{ "/devops/2020/02/19/ci-cd-git-hooks/" | relURL }}"
              >CI/CD - Git Hooks</a></li>
      </ul>

    </div>
  </div>
