  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Tabs Component Related Articles.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2020/11/01/tabs-component-overview/" | relURL }}"
              >Tabs - Component Overview</a></li>
        <li><a href="{{ "/frontend/2020/11/02/tabs-css-flex-layout/" | relURL }}"
              >Tabs - CSS - Flex Layout</a></li>
        <li><a href="{{ "/frontend/2020/11/03/tabs-css-mockup-layout/" | relURL }}"
              >Tabs - CSS Mockup Layout</a></li>
        <li><a href="{{ "/frontend/2020/11/04/tabs-js-plain-oldschool/" | relURL }}"
              >Tabs - JS - Plain Oldschool</a></li>
        <li><a href="{{ "/frontend/2020/11/05/tabs-js-plain-unobtrusive/" | relURL }}"
              >Tabs - JS - Plain Unobtrusive</a></li>
        <li><a href="{{ "/frontend/2020/11/06/tabs-npm-tailwind/" | relURL }}"
              >Tabs - NPM - Tailwind CSS</a></li>
        <li><a href="{{ "/frontend/2020/11/07/tabs-css-tailwind/" | relURL }}"
              >Tabs - CSS - Tailwind CSS</a></li>
        <li><a href="{{ "/frontend/2020/11/08/tabs-js-jquery-cash/" | relURL }}"
              >Tabs - JS - jQuery and Cash</a></li>

        <li><a href="{{ "/frontend/2020/11/09/tabs-js-alpine-inline/" | relURL }}"
              >Tabs - JS - Alpine Inline</a></li>
        <li><a href="{{ "/frontend/2020/11/10/tabs-js-alpine-extracted/" | relURL }}"
              >Tabs - JS - Alpine Extracted</a></li>
        <li><a href="{{ "/frontend/2020/11/12/tabs-js-vue-component/" | relURL }}"
              >Tabs - JS - Vue Component</a></li>
        <li><a href="{{ "/frontend/2020/11/13/tabs-js-vue-router/" | relURL }}"
              >Tabs - JS - Vue Router</a></li>
        <li><a href="{{ "/frontend/2020/11/14/tabs-js-vue2-application/" | relURL }}"
              >Tabs - JS - Vue2 Application</a></li>
        <li><a href="{{ "/frontend/2020/11/15/tabs-js-vue3-composition/" | relURL }}"
              >Tabs - JS - Vue3 Composition</a></li>
      </ul>

      <p>Repository</p>
      <ul class="widget-list">
        <li><a href="https://gitlab.com/epsi-rns/tutor-css-tools/tree/master/components/01-tabs/"
             >Gitlab - Epsi RNS - Components - Tabs</a></li>
      </ul>

    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Javascript: <a href="https://t.me/js_id">Javascript Indonesia</a></li>        
        <li>HTML and CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
        <li>Tailwind: <a href="https://t.me/TailwindID">Tailwind Indonesia</a></li>
        <li>Vue: <a href="https://t.me/vuejsindonesia">Vue.js Indonesia</a></li>
      </ul>
    </div>
  </div>
