  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>This article series contain few sections.</p>
    <div class="columns">

      <div class="column is-half">
      <p>Eleventy Basic</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/01/01/11ty-bulma-md-overview/" | relURL }}"
              >Eleventy - Bulma MD - Overview</a></li>
        <li><a href="{{ "/ssg/2020/01/02/11ty-minimal/" | relURL }}"
              >Eleventy - Minimal</a></li>
        <li><a href="{{ "/ssg/2020/01/03/11ty-layout/" | relURL }}"
              >Eleventy - Layout</a></li>
        <li><a href="{{ "/ssg/2020/01/04/11ty-configuration/" | relURL }}"
              >Eleventy - Configuration</a></li>
        <li><a href="{{ "/ssg/2020/01/05/11ty-collections/" | relURL }}"
              >Eleventy - Collections</a></li>
      </ul>

      <p>General Design</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/01/07/11ty-bulma-css-intro/" | relURL }}"
              >Eleventy - Bulma - CSS - Part One</a></li>
        <li><a href="{{ "/ssg/2020/01/08/11ty-bulma-css-layout/" | relURL }}"
              >Eleventy - Bulma - CSS - Part Two</a></li>
        <li><a href="{{ "/ssg/2020/01/09/11ty-bulma-sass-intro/" | relURL }}"
              >Eleventy - Bulma - SASS - Part One</a></li>
        <li><a href="{{ "/ssg/2020/01/10/11ty-bulma-sass-layout/" | relURL }}"
              >Eleventy - Bulma - SASS - Part Two</a></li>
      </ul>

      <p>Custom Pages</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/01/11/11ty-index-content/" | relURL }}"
              >Eleventy - Custom Index - Content</a></li>
        <li><a href="{{ "/ssg/2020/01/12/11ty-index-archive/" | relURL }}"
              >Eleventy - Custom Index - Archive</a></li>
        <li><a href="{{ "/ssg/2020/01/13/11ty-index-tags/" | relURL }}"
              >Eleventy - Custom Index - Tags</a></li>
        <li><a href="{{ "/ssg/2020/01/14/11ty-index-blog/" | relURL }}"
              >Eleventy - Custom Index - Blog</a></li>
        <li><a href="{{ "/ssg/2020/01/15/11ty-index-custom-output/" | relURL }}"
              >Eleventy - Custom Output</a></li>

        <li><a href="{{ "/ssg/2020/01/16/11ty-nunjucks-layout/" | relURL }}"
              >Eleventy - Nunjucks - Layout</a></li>
        <li><a href="{{ "/ssg/2020/01/17/11ty-nunjucks-index-list/" | relURL }}"
              >Eleventy - Nunjucks - Index List</a></li>
      </ul>
      </div>

      <div class="column is-half">
      <p>Widget Component</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/01/18/11ty-widget-simple-html/" | relURL }}"
              >Eleventy - Widget - Simple HTML</a></li>
        <li><a href="{{ "/ssg/2020/01/19/11ty-widget-nunjucks-loop/" | relURL }}"
              >Eleventy - Widget - Nunjucks Loop</a></li>
        <li><a href="{{ "/ssg/2020/01/20/11ty-widget-data/" | relURL }}"
              >Eleventy - Widget - Static Data</a></li>
      </ul>

      <p>Pagination Component</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/01/21/11ty-pagination-intro/" | relURL }}"
              >Eleventy - Pagination - Introduction</a></li>
        <li><a href="{{ "/ssg/2020/01/22/11ty-pagination-simple/" | relURL }}"
              >Eleventy - Pagination - Simple</a></li>
        <li><a href="{{ "/ssg/2020/01/23/11ty-pagination-number/" | relURL }}"
              >Eleventy - Pagination - Number</a></li>
        <li><a href="{{ "/ssg/2020/01/24/11ty-pagination-navigation/" | relURL }}"
              >Eleventy - Pagination - Navigation</a></li>
        <li><a href="{{ "/ssg/2020/01/25/11ty-pagination-adjacent/" | relURL }}"
              >Eleventy - Pagination - Adjacent</a></li>
        <li><a href="{{ "/ssg/2020/01/26/11ty-pagination-logic/" | relURL }}"
              >Eleventy - Pagination - Logic</a></li>
        <li><a href="{{ "/ssg/2020/01/27/11ty-pagination-indicator/" | relURL }}"
              >Eleventy - Pagination - Indicator</a></li>
        <li><a href="{{ "/ssg/2020/01/28/11ty-pagination-responsive/" | relURL }}"
              >Eleventy - Pagination - Responsive</a></li>
        <li><a href="{{ "/ssg/2020/01/29/11ty-pagination-screenreader/" | relURL }}"
              >Eleventy - Pagination - Screenreader</a></li>
      </ul>

      <p>Page Content</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/01/31/11ty-meta-seo/" | relURL }}"
              >Eleventy - Meta - SEO</a></li>

        <li><a href="{{ "/ssg/2020/02/01/11ty-content-post/" | relURL }}"
              >Eleventy - Content - Blog Post</a></li>
        <li><a href="{{ "/ssg/2020/02/02/11ty-content-markdown/" | relURL }}"
              >Eleventy - Content - Markdown</a></li>
        <li><a href="{{ "/ssg/2020/02/03/11ty-content-shortcodes/" | relURL }}"
              >Eleventy - Content - Shortcodes</a></li>
        <li><a href="{{ "/ssg/2020/02/04/11ty-syntax-highlighting/" | relURL }}"
              >Eleventy - Syntax Highlighting</a></li>
      </ul>
      </div>

    </div>

    <div class="columns">

      <div class="column is-half">
      <p>Related Article Series</p>
      <ul class="widget-list">
        <li>Prerequisite:
            <a href="{{ "/frontend/2019/06/11/bulma-md-overview/" | relURL }}"
              >Bulma MD - Overview</a></li>
        <li>Presentation:
            <a href="{{ "/ssg/2019/02/17/concept-ssg/" | relURL }}"
              >Concept SSG</a></li>
        <li>Additional: 
            <a href="{{ "/devops/2020/02/10/ci-cd-overview/" | relURL }}"
              >CI/CD - Deploy Overview</a></li>
      </ul>
      </div>

      <div class="column is-half">
      <p>Conclusion</p>
      <ul class="widget-list">
        <li><a href="{{ "/ssg/2020/02/06/11ty-summary/" | relURL }}"
              >Eleventy - Summary</a></li>
        <li><a href="{{ "/ssg/2020/02/07/11ty-presentation/" | relURL }}"
              >Eleventy - Presentation Slide</a></li>
      </ul>
      </div>

    </div>

      <p>Download Tutorial Source.</p>
      <ul class="widget-list">
        <li><a href="https://gitlab.com/epsi-rns/tutor-11ty-bulma-md/blob/master"
              >Gitlab - Epsi RNS - Tutor 11ty Bulma MD</a></li>
      </ul>

    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Eleventy: <a href="https://t.me/id_11ty">11ty ID</a></li>
        <li>Bulma: <a href="https://t.me/bulma_id">Bulma Indonesia</a></li>
        <li>JAM Stack: <a href="https://t.me/JAMstackID">JAM Stack Indonesia</a></li>
      </ul>
    </div>
  </div>
