  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>This article series contain few sections.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/02/01/css-layout-overview/" | relURL }}"
              >CSS Layout - Overview</a></li>
        <li><a href="{{ "/frontend/2019/02/03/css-layout-flex/" | relURL }}"
              >CSS Layout - Flex</a></li>
        <li><a href="{{ "/frontend/2019/02/05/css-layout-grid/" | relURL }}"
              >CSS Layout - Grid System</a></li>
        <li><a href="{{ "/frontend/2019/02/07/css-layout-calc/" | relURL }}"
              >CSS Layout - Float with Calc</a></li>
        <li><a href="{{ "/frontend/2019/02/09/css-layout-table/" | relURL }}"
              >CSS Layout - Fake Table</a></li>
      </ul>

    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>HTML dan CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
